.site-wrapper {
  padding: 3vw;
  min-height: 100vh;
}

@media (max-width: 850px) {
  .site-wrapper {
    padding: 6vw;
  }
}

.page-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 13vw 0;
  max-width: 70%;
  margin: auto;
  text-align: center;
}

.error-head {
  height: 75vh;
}

.error-head h1 {
  margin: 0;
  font-size: 7rem;
  line-height: 1.1em;
  letter-spacing: 10px;
}

.error-head p {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.error-link {
  margin-top: 1rem;
  font-size: 1.5rem;
  text-decoration: underline;
}

.page-head-title {
  margin: 0;
  font-size: 4.2rem;
}

@media (max-width: 500px) {
  .page-head-title {
    font-size: 2rem;
  }
}

.page-head-description {
  margin: 0 0 1.6vw;
  font-size: 2.2rem;
  line-height: 1.35em;
}

@media (max-width: 500px) {
  .page-head-description {
    font-size: 1.6rem;
  }
}

.site-foot {
  margin: 3vw 0 1vw;
  text-align: center;
  font-size: 1.4rem;
}

.transition-fade {
  -webkit-transition: 0.25s;
  transition: 0.25s;
  opacity: 1;
  -webkit-animation: slideUp 0.9s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
          animation: slideUp 0.9s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
  -webkit-transform: translate3d(0, 4vh, 0);
          transform: translate3d(0, 4vh, 0);
}

/* Mobile Nav Menu*/
.nav-burger {
  display: none;
  position: absolute;
  left: 0;
  z-index: 9999;
  padding: 12px 12px 12px 0;
}

@media (max-width: 850px) {
  .site-head {
    padding: 0;
  }
  .nav-burger {
    display: block;
  }
  .site-head-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    height: 40px;
    background: rgba(255, 255, 255, 0);
    z-index: -1;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    overflow: hidden;
  }
  .site-head-left,
  .site-head-right {
    position: relative;
    z-index: -1;
    height: auto;
    -webkit-transition: height 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: height 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    -webkit-transition-delay: 1s;
            transition-delay: 1s;
  }
  .site-head-left a,
  .site-head-right a {
    margin: 8px 0;
    padding: 1px 0;
    font-size: 2.6rem;
    line-height: 1.15em;
    font-weight: 200;
    opacity: 0;
    -webkit-transition: opacity 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: opacity 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: transform 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99), opacity 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: transform 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99), opacity 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    -webkit-transform: scale(1.1) translateY(-25px);
            transform: scale(1.1) translateY(-25px);
  }
  .site-head-right a {
    padding: 5px 0;
    margin: 1px 0;
    font-size: 2rem;
  }
  .nav {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 3vw 0 0 0;
  }
  .site-head-left {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin: 0;
    width: 100%;
  }
  .site-head-center {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    position: static;
    z-index: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .site-head-right {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    width: 100%;
    margin-top: 3vw;
  }
  .social-links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .site-head-open {
    background: white;
    -webkit-transition: background 0.5s ease-out;
    transition: background 0.5s ease-out;
    -webkit-transition-delay: 0.25;
            transition-delay: 0.25;
    overflow: hidden;
    height: 100vh;
  }
  .site-head-open .site-head-container {
    height: 100vh;
    -webkit-transition: height 0.2s ease-in;
    transition: height 0.2s ease-in;
  }
  .site-head-open .site-head-left,
  .site-head-open .site-head-right {
    z-index: 9999;
    height: auto;
    -webkit-transition: height 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: height 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  }
  .site-head-open .site-head-left a,
  .site-head-open .site-head-right a {
    opacity: 1;
    -webkit-transition: opacity 0.9s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: opacity 0.9s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: transform 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99), opacity 0.9s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: transform 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99), opacity 0.9s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    -webkit-transform: scale(1) translateY(0px);
            transform: scale(1) translateY(0px);
  }
  .site-head-open .nav-current a {
    border-bottom: black;
  }
  .site-head-open .site-head-right a {
    opacity: 0.5;
  }
  .site-head-open .site-foot {
    display: block;
    position: fixed;
    z-index: 9999;
    bottom: 0;
    -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: -webkit-transform 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: transform 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: transform 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    -webkit-transform: translateY(-4vw);
            transform: translateY(-4vw);
  }
}
/*# sourceMappingURL=layout.module.css.map */